
services:
  
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    
    ports:
      - "27017:27017"
 
  redis:
    image: redis:7
    container_name: e-commerce-redis
    ports:
      - "6379:6379"
 
 